footer {
    background: linear-gradient(30deg, blue, darkblue, #1b1b72);
    text-align: center;
}

footer p {
    margin-top: 10px;
    color: deepskyblue;
}

footer a {
    color: white;
}

.fa-code {
    margin: 10px;
    color: royalblue;
}

.fa-heart {
    color: #e25555;
}
