body {
    font-family: "Helvetica Neue", sans-serif;
}
a {
    text-decoration: none;
    color: white;
}


footer {
    background: blueviolet;
}

.shop-card {
    background: azure;
}

.cart-card {
    background: aliceblue;
}
