.home {
    height: 100px;
    flex: 2;
    text-align: center;
}

.home h2 {
    position: relative;
    top: 20%;
    margin: 20px;
    font-size: xx-large;
    font-weight: normal;
}

.home button {
    padding: 15px;
    position: relative;
    top: 40%;
    font-size: larger;
    box-shadow: 0 0 2px 5px gold;
    border-radius: 20px;
    background: linear-gradient(45deg, palegoldenrod, gold , goldenrod);
}


